.home {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.titles {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
}

.dashboard {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}