.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.blue-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 200px;
    width: 200px;
}