.st0 {
    fill: #FFFFFF;
    stroke: #3E61AD;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #FFFFFF;
    stroke: #3E61AD;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #FFFFFF;
    stroke: #3E61AD;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}