.st0 {
    fill: none;
    stroke: #3F62AD;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.st1 {
    fill: none;
    stroke: #3F62AD;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
